@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$brown: #3c3535;
$red: #f95c49;
$max-width: 1200px;
$back-color: #f7f7f7;
$padding-mobile: 0 1rem 0 1rem;

@mixin obectFitContain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

@mixin obectFitCover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  width: 100%;
  display: flex;
  position: relative;
  &__content {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    // padding: 0 1rem 0 1rem;
  }

  &_fullscreen {
    min-height: 100vh;
  }

  .first-page__main-text,
  .first-page__tan-desc {
    padding: $padding-mobile;
  }
}

// first-page

.first-section {
  background-attachment: $back-color;
}

.first-page {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  font-family: "Spectral";
  font-style: italic;
  // line-height: 61px;

  &__inst {
    display: flex;
    column-gap: 11px;
    align-items: center;
  }

  &__in-photo {
    display: flex;
    align-items: center;
  }

  &__in-link {
    font-weight: bold;
  }

  &__col-one {
    padding: $padding-mobile;
  }

  &__col-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }

  &__main-photo {
    display: flex;
    // align-self: center;
    justify-content: center;
    flex-direction: column;
  }

  &__main-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__text-one {
    font-weight: 400;
    font-size: 40px;
    line-height: 61px;

    color: #190e40;
  }

  &__text-line {
    padding-top: 2rem;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    color: #190e40;
    div {
      display: flex;
      align-items: flex-start;
      column-gap: 10px;
      .dot {
        transform: translateY(15px);
        width: 5px;
        height: 5px;
        flex-basis: 5px;
        flex-grow: 0;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: black;
      }
      // display: grid;
      // grid-template-columns: 10px 1fr;
    }
  }

  &__tanya {
    width: 100%;
    height: 100%;
    div {
      width: 100%;
      height: 100%;
      position: relative;
      img {
        // @include obectFitContain;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: scale(1, 1);
      }
    }
  }

  &__tan-desc {
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    color: #000000;
  }
}

.first-page__text-line::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: black;
}

.first-page__tan-desc::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 20px;
  width: 80%;
  height: 1.5px;
  background-color: black;
}

.btn-register.hidden {
  display: none;
}


.btn-register.big {
  margin-top: 20px; 
  justify-content: flex-start;  
}

.btn-register {
  width: 100%;
  display: flex;
  justify-content: center;
  div {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
  }
}


@media (max-width: 892px) {



  .btn-register.hidden {
    display: flex;
  }

  .first-page__col-two {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .first-page__main-photo {
    min-height: 600px;
  }

  .first-page__main-photo.hidden-mobile {
    display: none;
  }
}

.mobile {
  display: none;
}

.big-l {
  text-transform: lowercase;
}


@media (max-width: 424px) {
  .big-l {
    text-transform: uppercase;
  }

  .btn-register.hidden {
    transform: translateY(-180px);
  }

  .first-page {
    // padding-bottom: 40px;
  }

  .mobile {
    display: block;
    font-size: 22px;
    transform: translateY(-100px);
  }

  .first-page__text-line {
    transform: translateY(-100px);
  }

  .first-page__main-photo {
    transform: scale(1.2, 1.2);
    transform: translateY(-100px);
    // margin-right: 10px;
    padding: 0 !important;

    div {
      img {
        transform: translate(-10px, -40px);
        object-fit: contain !important;
      }
    }
  }

  .hid {
    display: none;
  }

  .first-page__tan-desc {
    order: 2;
  }

  .date {
    padding: $padding-mobile;
    order: 2;
    transform: translateY(-40px);
    font-weight: bold;
  }

  .first-page__tanya {
    order: 1;
    transform: translateY(-20px);
  }

  .first-page__main-text {
  }

  .first-page__text-line {
    font-size: 17px;
  }

  .first-page__text-one {
    font-size: 24px;
    line-height: 40px;
  }
}

// first-page

// section-two
.section-two {
  background-color: $brown;
  color: white;
  font-family: Spectral;
  font-style: italic;
}

.second-page {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  &__who {
    font-weight: 400;
    font-size: 40px;
    line-height: 61px;
    padding: $padding-mobile;
  }
  &__main {
    display: flex;
  }
  &__photo {
    display: flex;
    flex-basis: 400px;
    flex-shrink: 0;
    flex-grow: 0;
    div {
      // width: 400px;
      height: 300px;
      width: 300px;
      background-color: white;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      img {
        @include obectFitCover;
      }
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 25px;
    line-height: 46px;
  }
}

@media (max-width: 833px) {
  .second-page__main {
    flex-direction: column;
  }

  .second-page__photo {
    justify-content: center;
  }

  .second-page__who {
    font-size: 22px;
  }

  .second-page__desc {
    padding: $padding-mobile;

    font-size: 18px;
  }
}

// section-two

// form

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: $padding-mobile;
  padding-top: 30px;
  padding-bottom: 30px;

  &__desc {
    max-width: 700px;
    width: 100%;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }

  &__cont {
    display: flex;
    flex-direction: column;
  }

  &__want {
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    line-height: 61px;
    color: #000000;
  }

  &__error {
    color: $red;
  }

  input[type="submit"] {
    max-width: 248px;
    width: 100%;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Caveat;
    height: 49px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  label {
    border-bottom: 3px solid $red;
    max-width: 300px;
    width: 100%;
    font-family: Spectral;
    font-style: italic;
    input[type="text"] {
      border: none;
      background-color: #EEEEEE;
      outline: none;
      height: 20px;
      padding-top: 10px;
    }
  }
}

// form

// slider

.slider {
  padding-top: 30px;
  padding-bottom: 50px;
}

.arrows {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.btn-one,
.btn-two {
}

.arrow-one {
  cursor: pointer;
}
.arrow-two {
  transform: rotate(180deg);
}

.section__slider {
  background-color: $brown;
  color: white;
}

.feedback-title {
  margin-bottom: 50px;
  font-family: "Spectral";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  color: #ffffff;
}

.slide-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: "Spectral";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  padding: 44px;

  &__photo {
    // flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 30%;
    // height: 100%;
    div {
      position: relative;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      img {
        @include obectFitCover;
      }
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    flex-basis: 70%;
  }
}

@media (max-width: 983px) {
  .slide-wrap {
    flex-direction: column;
    row-gap: 40px;
  }

  .arrows {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .slide-wrap__desc {
    font-size: 18px;
  }

  .arrow-one,
  .arrow-two {
    width: 100px;
    height: 40px;
  }

  .slide-wrap {
    padding: 5px;
  }

  .slider {
    padding: $padding-mobile;
    padding-bottom: 50px;
  }
}
